header img {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 30vh;
    padding: 15px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    align-items: center;
}

nav ul li a {
    font-size: 80%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    align-items: center;
}

.product {
    padding: 0 15px;
}

.container {
    width: 80%;
    padding: 60 px 0 px;
}

#section-main-image h1 {
    font-size: 30px;
}

#section-coffee h3 {
    font-size: 80%;
}

#footer-contact h2 {
    text-align: center;
  }
#footer-contact .contact-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-info{
    text-align: justify;
}

.contact-form form {
    margin-left: 0;
}

.form-control {
    display: flex;
    justify-content: space-between;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
}